.Loader {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    margin: 80px auto 0px auto;
    border: 2px dashed red;
    animation-name: search-icon;
    animation-duration: 0.7s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
  
@keyframes search-icon {
    0% {
        transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}