.mybtn {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 45px;
    padding: 5px 20px;
    border: 1px solid gray;
    border-radius: 5px;
    background-color: rgba(73, 164, 255, 0.1);
    transition: all 0.4s ease 0s;
}

.mybtn:hover {
    background-color: rgba(73, 164, 255, 0.4); 
}