.btc {
    margin: 110px 0px 0px 0px;
    padding: 50px 40px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 15px;

    &__title {
        font-size: 30px;
        font-weight: 600;
        margin: 0px 0px 35px 0px;
    }

    &__currency {
        font-size: 24px;
        font-weight: 500;
        &:not(:last-child) {
            margin: 0px 0px 15px 0px;
        }
    }

    &__updated {
        font-size: 16px;
        margin: 0px 0px 10px 0px;
    }

    & >*:last-child {
        margin-left: auto;
    }
}